<div class="about-section">
  <h1>Hello! I am Monesh soni...</h1>
  <p>Ruby: Proficient in writing clean, efficient, and maintainable Ruby code.
Ruby on Rails: Strong expertise in building web applications using the Rails framework, following best practices and conventions.
</p>
  <p>Web Development: Solid understanding of web development concepts, including HTTP, RESTful architecture, MVC pattern, and front-end technologies (HTML, CSS, JavaScript).
Database Management: Experience working with relational databases like MySQL, PostgreSQL, and SQLite. Skilled in writing database queries and designing efficient database schemas.</p>
</div>

<h2 style="text-align:center">About Me</h2>
<div>
  <div >
    <div >
      
      <div>
        <h2>Monesh soni RoR Developer</h2> <%= image_tag 'moneshsoni.jpeg', width: 200, height: 150 , class: 'left-image' %><p>Experienced Ruby on Rails developer with two years of professional experience in building robust and scalable web applications. A passionate problem solver with a strong understanding of web development principles and a track record of delivering high-quality code. Committed to continuous learning and staying updated with the latest technologies and trends in the Ruby and Rails ecosystem.
    </p>
        <p>monesh@thoughtwin.com</p>
       <center><button type="button" class="btn btn-info">Contact Us..</button></center><br>
      </div>
    </div>
  </div>

 <!--  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div> -->

<!--   <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div> -->
</div>

<css>
<!-- .left-image {
  max-width: 200px; /* Adjust the maximum width as needed */
  mar -->
}
</css>